@import "./config.scss";

.button {
  &__col {
    display: flex;
    justify-content: center;
  }

  &__container {
    display: flex;
    justify-content: center;
    max-width: $max-width;
    margin-top: $gutter;
    margin-bottom: $gutter;
  }

  &__lContainer {
    @include columns(2);
    @include offset-left(5);
    flex-direction: column;
  }

  &__btn {
    display: block;
    padding: 0.5 * $gutter;
    margin: 0 $gutter;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    background-color: $color-4;
    border: 0;
    border-radius: 0.5 * $gutter;

    &:hover {
      background-color: $color-3;
      transition: background-color $transition;
    }
  }

  &--clicked {
    background-color: $color-5;

    &:hover {
      background-color: $color-6;
      transition: background-color $transition;
    }
  }

  &__lecture {
    margin-top: $gutter;
    margin-bottom: $gutter;
    font-family: $font-main;
    font-size: 1em;
    background: none;
    border: 0;
  }
}
