@import "./config.scss";

.header__image {
  position: relative;
  height: 13.5 * $gutter;
  margin-bottom: $gutter;
  overflow: hidden;
  text-align: center;

  &__text {
    font-size: 2em;
  }
}

.image__layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #fff;
  opacity: 0.4;
}

.layer__text {
  position: absolute;
  top: 50%;
  left: 50%;
}

.button__container {
  display: flex;
  justify-content: center;
}

.bnt {
  background-color: $color-1;
  border: $color-1 solid 1px;
  border-radius: 5px;

}
