@import "config";

.items {
  &__row {
    @include row;
    flex-flow: row wrap;
  }

  &__col {
    @include columns(4);
    padding-right: 0.5 * $gutter;
    padding-left: 0.5 * $gutter;
    margin-top: $gutter;
    margin-bottom: $gutter;
  }
}
