@import "config";

.items {
  &__row {
    @include row;
    flex-flow: row wrap;
  }

  &__col {
    @include columns(12);
    padding-right: 0.5 * $gutter;
    padding-left: 0.5 * $gutter;
    margin-top: $gutter;
    margin-bottom: $gutter;
    @media (min-width: 500px) {
      @include columns(6);
    }

    @media (min-width: 900px) {
      @include columns(4);
    }
  }
}
