@import "config";

.lecture__row {
  @include row;
  flex-flow: row wrap;
}

.lecture {
  @include columns(10);
  @include offset-left(1);

  @media (min-width: 700px) {
    @include columns(8);
    @include offset-left(2);
  }
}

.content {
  // Það þarf að skoða þetta með iframe svo að allt content komist fyrir
  &__video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-top: $gutter;
    margin-bottom: $gutter;
  }

  &__youtube {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__text {
    margin-top: 0.5 * $gutter;
    margin-bottom: 0.5 * $gutter;
  }

  &__quote {
    padding: $gutter;
    margin-right: -$gutter;
    margin-left: -$gutter;
    background-color: $color-4;
  }

  &__image {
    position: relative;
    margin-top: 2 * $gutter;
    margin-bottom: 3 * $gutter;
  }

  &__heading {
    margin-top: $gutter;
    margin-bottom: $gutter;
    font-family: $font-head;
    font-size: 2rem;
    font-weight: bold;
  }

  &__list {
    margin-top: $gutter;
    margin-bottom: $gutter;
  }

  &__code {
    display: block;
    margin-top: 2 * $gutter;
    margin-bottom: 2 * $gutter;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
  }
}

.List__text {
  margin-top: 0.5 * $gutter;
  margin-bottom: 0.5 * $gutter;
}
