@import "config";

.lecture__row {
  @include row;
  flex-flow: row wrap;
}

.lecture {
  @include columns(8);
  @include offset-left(2);
}

.content {
  // Það þarf að skoða þetta með iframe svo að allt content komist fyrir
  &__youtube {
    width: 100%;
    margin-top: $gutter;
    margin-bottom: $gutter;

    &::before {
      content: '';
      display: block;
      padding-top: 177.7777777777778%;
    }
  }

  &__text {
    padding-left: 0.25 * $gutter;
    margin-top: 0.5 * $gutter;
    margin-bottom: 0.5 * $gutter;
  }

  //p { /* stylelint-disable-line */
  //  margin-top: $gutter;
  //  margin-bottom: $gutter;
  //}
}
